# 忽略GUI设置
*.uvguix.kingham

# 忽略所有位置的 .vscode 目录
**/.vscode/

# Keil本地界面文件
*.uvguix.*

# Keil编译输出目录
Software/OV_Watch/MDK-ARM/output/
Software/IAP_F411/MDK-ARM/IAP_F411/

# 忽略 Bootloader 编译产生的汇编列表
Software/IAP_F411/MDK-ARM/*.lst

# VS Code 本机工作区配置，不提交到仓库
*.code-workspace